* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif; }

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container nav {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container nav .logoimg {
      width: 200px; }
    .container nav ul {
      display: flex;
      gap: 10px;
      list-style-type: none;
      text-transform: uppercase;
      color: gray; }
      .container nav ul a {
        text-decoration: none;
        color: grey; }
      .container nav ul a:hover {
        color: black;
        cursor: pointer;
        font-weight: 900; }
  .container section {
    width: 900px;
    margin: 2rem 0; }
    .container section h1 {
      text-align: center;
      font-size: 4rem;
      text-transform: uppercase;
      margin: 2rem 0; }
    .container section p {
      font-size: 1.7rem;
      text-align: center;
      border-bottom: 2px solid black;
      padding-bottom: 4rem; }
  .container main {
    width: 1200px; }
    .container main h2 {
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2rem; }
    .container main .mainpic {
      width: 1200px;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap; }
      .container main .mainpic .boximg {
        position: relative;
        cursor: pointer;
        height: 550px;
        width: 550px;
        overflow: hidden; }
        .container main .mainpic .boximg:hover .boximg_textimg {
          opacity: 1; }
        .container main .mainpic .boximg:hover .boximg_box_img {
          opacity: 0; }
        .container main .mainpic .boximg_textimg {
          position: absolute;
          top: 40%;
          left: 40%;
          width: 20%;
          font-size: 1.2rem;
          color: white;
          line-height: 1.8rem;
          text-align: center;
          opacity: 0; }
        .container main .mainpic .boximg img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
          .container main .mainpic .boximg img:hover {
            filter: brightness(50%);
            transition: filter 0.3 ease; }
  .container footer {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem; }
    .container footer .footerbox .footer_text {
      font-size: 1rem; }
    .container footer .footerbox .footer__link {
      text-decoration: none;
      font-size: 1rem;
      color: gray; }
      .container footer .footerbox .footer__link:hover {
        color: black;
        border-bottom: 3px solid black;
        font-weight: 800; }

@media (max-width: 479.9px) {
  .container {
    width: 100%;
    margin: 0 auto; }
    .container nav {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-around; }
      .container nav .logoimg {
        width: 60px; }
      .container nav a {
        font-size: 0.5rem; }
    .container section {
      width: 90%;
      margin: 0; }
      .container section h1 {
        font-size: 1rem;
        margin: 0; }
      .container section p {
        font-size: 0.7rem;
        text-align: center;
        padding: 0.4rem;
        border-bottom: 1px solid black; }
    .container main {
      margin-top: 1rem;
      width: 100%; }
      .container main h2 {
        font-size: 0.9rem; }
      .container main .mainpic {
        width: 100%; }
        .container main .mainpic .boximg {
          height: 300px;
          width: 300px;
          overflow: hidden; }
          .container main .mainpic .boximg_textimg {
            top: 30%;
            left: 35%;
            width: 30%;
            font-size: 1rem; }
    .container footer {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .container footer .footerbox {
        width: 210px; }
        .container footer .footerbox .footer_text {
          font-size: 0.6rem; }
        .container footer .footerbox .footer__link {
          font-size: 0.4rem; } }
@media (min-width: 480px) and (max-width: 767.9px) {
  .container {
    width: 100%; }
    .container nav {
      width: 100%;
      height: 50px;
      margin: 0;
      display: flex;
      justify-content: space-around;
      padding-top: 1.5rem; }
      .container nav .logoimg {
        width: 100px; }
      .container nav a {
        font-size: 1rem; }
    .container section {
      width: 80%; }
      .container section h1 {
        font-size: 1.8rem;
        margin: 0; }
      .container section p {
        font-size: 0.8rem;
        margin: 0;
        padding: 1rem; }
    .container main {
      width: 100%; }
      .container main h2 {
        font-size: 1.8rem; }
      .container main .mainpic {
        width: 100%; }
        .container main .mainpic .boximg {
          width: 450px;
          height: 450px;
          overflow: hidden; }
          .container main .mainpic .boximg_textimg {
            top: 40%;
            left: 35%;
            width: 35%; }
    .container footer {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .container footer .footerbox {
        width: 230px; }
        .container footer .footerbox .footer_text {
          font-size: 0.7rem; }
        .container footer .footerbox .footer__link {
          font-size: 0.5rem; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 800px; }
    .container nav {
      width: 800px;
      height: 60px;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding-top: 1rem; }
      .container nav .logoimg {
        width: 100px; }
      .container nav a {
        font-size: 1.2rem; }
    .container section {
      width: 600px; }
      .container section h1 {
        font-size: 1.7rem;
        margin: 0; }
      .container section p {
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid black; }
    .container main {
      width: 800px; }
      .container main h2 {
        font-size: 1.5rem; }
      .container main .mainpic {
        width: 800px; }
        .container main .mainpic .boximg {
          height: 600px;
          width: 600px;
          overflow: hidden; }
    .container footer {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .container footer .footerbox {
        width: 270px; }
        .container footer .footerbox .footer_text {
          font-size: 0.8rem; }
        .container footer .footerbox .footer__link {
          font-size: 0.6rem; } }
@media (min-width: 1025px) {
  .container {
    width: 1000px;
    overflow: hidden; }
    .container nav {
      width: 1000px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding-top: 2rem; }
      .container nav .logoimg {
        width: 150px; }
      .container nav a {
        font-size: 1.2rem; }
    .container section {
      width: 1000px; }
      .container section h1 {
        font-size: 1.9rem;
        margin: 0; }
      .container section p {
        font-size: 1.4rem;
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid black; }
    .container main {
      width: 1000px; }
      .container main h2 {
        font-size: 1.5rem; }
      .container main .mainpic {
        width: 1000px; }
        .container main .mainpic .boximg {
          height: 450px;
          width: 450px;
          overflow: hidden; }
          .container main .mainpic .boximg_textimg {
            top: 45%;
            left: 30%;
            width: 40%; }
    .container footer {
      width: 1000px;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .container footer .footerbox {
        width: 300px; }
        .container footer .footerbox .footer_text {
          font-size: 0.9rem; }
        .container footer .footerbox .footer__link {
          font-size: 0.7rem; } }

/*# sourceMappingURL=style.css.map */
